@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="tabstyle" style="margin-top:20px"><tr><td style="padding:25px">
<div class="desc">
<p>Thank you for using Syncfusion ASP.NET Core Wizard. We have modified the default ASP.NET Core internet application project template based on Syncfusion controls and settings. 
The following are the samples links:
</p>
</div>
<div class="sf-samples" style="white-space:nowrap;">
	<ul class="ulstyle">
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TreeGrid","TreeGridFeatures","TreeGrid",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	 	</ul>
	</div>
			</td>
		</tr>
	</table>
<div class="clear"> </div>